<a href="https://colab.research.google.com/github/DeuklyoungKo/TensorFlowBasicWithPython/blob/main/convolutionWidthMaxPool2D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
#데이터를 준비
(x_train, y_train), _ = tf.keras.datasets.mnist.load_data()
print(x_train.shape, y_train.shape)

x_train = x_train.reshape(60000,28,28,1)
y_train = pd.get_dummies(y_train)
print(x_train.shape, y_train.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
11501568/11490434 [==============================] - 0s 0us/step
(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [4]:
# 모델 만들기
X = tf.keras.layers.Input(shape=[28,28,1])
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation="swish")(H)
Y = tf.keras.layers.Dense(10, activation="softmax")(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [5]:
model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 28, 28, 1)]       0

 conv2d (Conv2D)             (None, 24, 24, 3)         78

 conv2d_1 (Conv2D)           (None, 20, 20, 6)         456

 flatten (Flatten)           (None, 2400)              0

 dense (Dense)               (None, 84)                201684

 dense_1 (Dense)             (None, 10)                850

=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________

In [7]:
# CNN 모델 만들기
X = tf.keras.layers.Input(shape=[28,28,1])
# convolution 이미지 필터 레이어추가
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
# 절반으로 레이어 필터 사이즈를 줄임
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation="swish")(H)
Y = tf.keras.layers.Dense(10, activation="softmax")(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [8]:
model.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_2 (InputLayer)        [(None, 28, 28, 1)]       0

 conv2d_2 (Conv2D)           (None, 24, 24, 3)         78

 max_pooling2d (MaxPooling2D  (None, 12, 12, 3)        0
 )

 conv2d_3 (Conv2D)           (None, 8, 8, 6)           456

 max_pooling2d_1 (MaxPooling  (None, 4, 4, 6)          0
 2D)

 flatten_1 (Flatten)         (None, 96)                0

 dense_2 (Dense)             (None, 84)                8148

 dense_3 (Dense)             (None, 10)                850

=================================================================
Total params: 9,532
Trainable params: 9,532
Non-trainable params: 0
_________________________________________________________________

In [10]:
model.fit(x_train, y_train, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.5649 - accuracy: 0.8796
Epoch 2/10
1875/1875 [==============================] - 7s 3ms/step - loss: 0.1360 - accuracy: 0.9603
Epoch 3/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.1041 - accuracy: 0.9694
Epoch 4/10
1875/1875 [==============================] - 7s 3ms/step - loss: 0.0906 - accuracy: 0.9729
Epoch 5/10
1875/1875 [==============================] - 7s 3ms/step - loss: 0.0813 - accuracy: 0.9768
Epoch 6/10
1875/1875 [==============================] - 7s 3ms/step - loss: 0.0764 - accuracy: 0.9779
Epoch 7/10
1875/1875 [==============================] - 7s 3ms/step - loss: 0.0714 - accuracy: 0.9795
Epoch 8/10
1875/1875 [==============================] - 7s 3ms/step - loss: 0.0699 - accuracy: 0.9800
Epoch 9/10
1875/1875 [==============================] - 7s 3ms/step - loss: 0.0671 - accuracy: 0.9811
Epoch 10/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0660 - accuracy: 0.9815

In [11]:
# 모델을 이용
pred = model.predict(x_train[0:5])
pd.DataFrame(pred).round(2)

     0    1    2     3    4     5    6    7    8    9
0  0.0  0.0  0.0  0.03  0.0  0.97  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.00  0.0  0.00  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.00  1.0  0.00  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.00  0.0  0.00  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.00  0.0  0.00  0.0  0.0  0.0  1.0

In [12]:
y_train[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1