<a href="https://colab.research.google.com/github/DeuklyoungKo/TensorFlowBasicWithPython/blob/main/imageLearningWithFlattenlayer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
import pandas as pd

In [ ]:
# with reshape

In [ ]:
# 데이터를 준비하고
(x_train, y_train), _ = tf.keras.datasets.mnist.load_data()
print(x_train.shape, y_train.shape)

x_train = x_train.reshape(60000, 784)
y_train = pd.get_dummies(y_train)
print(x_train.shape, y_train.shape)

(60000, 28, 28) (60000,)
(60000, 784) (60000, 10)

In [ ]:
# 모델 만들기
X = tf.keras.layers.Input(shape=[784])
H = tf.keras.layers.Dense(84, activation= 'swish')(X)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [ ]:
#모델을 학습히고
model.fit(x_train, y_train, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 5s 3ms/step - loss: 2.1421 - accuracy: 0.8489
Epoch 2/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.5478 - accuracy: 0.9125
Epoch 3/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.4573 - accuracy: 0.9281
Epoch 4/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.4182 - accuracy: 0.9363
Epoch 5/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.3791 - accuracy: 0.9410
Epoch 6/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.3763 - accuracy: 0.9444
Epoch 7/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.3697 - accuracy: 0.9463
Epoch 8/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3438 - accuracy: 0.9480
Epoch 9/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3429 - accuracy: 0.9507
Epoch 10/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3322 - accuracy: 0.9501

In [ ]:
# 모델을 사용
pred = model.predict(x_train[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [ ]:
y_train[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [ ]:
# with flatten
# 데이터를 준비하고
(x_train, y_train), _ = tf.keras.datasets.mnist.load_data()
print(x_train.shape, y_train.shape)

# x_train = x_train.reshape(60000, 784)
y_train = pd.get_dummies(y_train)
print(x_train.shape, y_train.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28) (60000, 10)

In [ ]:
# 모델 만들기
X = tf.keras.layers.Input(shape=[28,28])
H = tf.keras.layers.Flatten()(X)
H = tf.keras.layers.Dense(84, activation= 'swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [ ]:
#모델을 학습히고
model.fit(x_train, y_train, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 5s 2ms/step - loss: 2.5290 - accuracy: 0.8560
Epoch 2/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5575 - accuracy: 0.9157
Epoch 3/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4657 - accuracy: 0.9300
Epoch 4/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4211 - accuracy: 0.9370
Epoch 5/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4075 - accuracy: 0.9419
Epoch 6/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3758 - accuracy: 0.9456
Epoch 7/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3647 - accuracy: 0.9475
Epoch 8/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3489 - accuracy: 0.9503
Epoch 9/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3467 - accuracy: 0.9518
Epoch 10/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3456 - accuracy: 0.9538

In [ ]:
# 모델을 사용
pred = model.predict(x_train[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [ ]:
y_train[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1