<a href="https://colab.research.google.com/github/DeuklyoungKo/TensorFlowBasicWithPython/blob/main/imageLearningWithLeNet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
import pandas as pd

Mnist , 숫자  손글씨 판별

In [ ]:
#데이터를 준비
(x_train, y_train), _ = tf.keras.datasets.mnist.load_data()
print(x_train.shape, y_train.shape)

x_train = x_train.reshape(60000,28,28,1)
y_train = pd.get_dummies(y_train)
print(x_train.shape, y_train.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
11501568/11490434 [==============================] - 0s 0us/step
(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [ ]:
# 모델 만들기
X = tf.keras.layers.Input(shape=[28,28,1])
# convolution 이미지 필터 레이어추가
H = tf.keras.layers.Conv2D(6, kernel_size=5, padding='same', activation='swish')(X)
# 절반으로 레이어 필터 사이즈를 줄임
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Conv2D(16, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Flatten()(H)

H = tf.keras.layers.Dense(120, activation="swish")(H)
H = tf.keras.layers.Dense(84, activation="swish")(H)
Y = tf.keras.layers.Dense(10, activation="softmax")(H)

model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [ ]:
model.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_2 (InputLayer)        [(None, 28, 28, 1)]       0

 conv2d_2 (Conv2D)           (None, 24, 24, 3)         78

 max_pooling2d (MaxPooling2D  (None, 12, 12, 3)        0
 )

 conv2d_3 (Conv2D)           (None, 8, 8, 6)           456

 max_pooling2d_1 (MaxPooling  (None, 4, 4, 6)          0
 2D)

 flatten_1 (Flatten)         (None, 96)                0

 dense_2 (Dense)             (None, 84)                8148

 dense_3 (Dense)             (None, 10)                850

=================================================================
Total params: 9,532
Trainable params: 9,532
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# 모델 훈련
model.fit(x_train, y_train, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 18s 3ms/step - loss: 0.3989 - accuracy: 0.9426
Epoch 2/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0867 - accuracy: 0.9782
Epoch 3/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0730 - accuracy: 0.9822
Epoch 4/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0632 - accuracy: 0.9855
Epoch 5/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0602 - accuracy: 0.9864
Epoch 6/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0569 - accuracy: 0.9882
Epoch 7/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0596 - accuracy: 0.9877
Epoch 8/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0548 - accuracy: 0.9886
Epoch 9/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0584 - accuracy: 0.9893
Epoch 10/10
1875/1875 [==============================] - 7s 3ms/step - loss: 0.0548 - accuracy: 0.9901

In [ ]:
# 모델을 이용
pred = model.predict(x_train[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3     4    5    6    7    8     9
0  0.0  0.0  0.0  1.0  0.00  0.0  0.0  0.0  0.0  0.00
1  1.0  0.0  0.0  0.0  0.00  0.0  0.0  0.0  0.0  0.00
2  0.0  0.0  0.0  0.0  1.00  0.0  0.0  0.0  0.0  0.00
3  0.0  1.0  0.0  0.0  0.00  0.0  0.0  0.0  0.0  0.00
4  0.0  0.0  0.0  0.0  0.01  0.0  0.0  0.0  0.0  0.99

In [ ]:
y_train[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

Cifar 10
이미지 10개 분류하기

In [ ]:
#데이터를 준비
(x_train, y_train), _ = tf.keras.datasets.cifar10.load_data()
print(x_train.shape, y_train.shape)

#현재 표형태로 되어 있어서 양식을 변경
y_train = y_train.reshape(50000)
print(y_train.shape)
y_train = pd.get_dummies(y_train)
print(x_train.shape, y_train.shape)

(50000, 32, 32, 3) (50000, 1)
(50000,)
(50000, 32, 32, 3) (50000, 10)

In [ ]:
# 모델 만들기
X = tf.keras.layers.Input(shape=[32,32,3])
# convolution 이미지 필터 레이어추가
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(X)
# 절반으로 레이어 필터 사이즈를 줄임
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Conv2D(16, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Flatten()(H)

H = tf.keras.layers.Dense(120, activation="swish")(H)
H = tf.keras.layers.Dense(84, activation="swish")(H)
Y = tf.keras.layers.Dense(10, activation="softmax")(H)

model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [ ]:
# 모델 훈련
model.fit(x_train, y_train, epochs=10)

Epoch 1/10
1563/1563 [==============================] - 7s 4ms/step - loss: 2.6703 - accuracy: 0.2924
Epoch 2/10
1563/1563 [==============================] - 6s 4ms/step - loss: 1.7535 - accuracy: 0.3881
Epoch 3/10
1563/1563 [==============================] - 6s 4ms/step - loss: 1.6456 - accuracy: 0.4353
Epoch 4/10
1563/1563 [==============================] - 6s 4ms/step - loss: 1.6267 - accuracy: 0.4572
Epoch 5/10
1563/1563 [==============================] - 6s 4ms/step - loss: 1.5744 - accuracy: 0.4869
Epoch 6/10
1563/1563 [==============================] - 6s 4ms/step - loss: 1.4972 - accuracy: 0.5090
Epoch 7/10
1563/1563 [==============================] - 6s 4ms/step - loss: 1.3761 - accuracy: 0.5428
Epoch 8/10
1563/1563 [==============================] - 6s 4ms/step - loss: 1.3426 - accuracy: 0.5629
Epoch 9/10
1563/1563 [==============================] - 6s 4ms/step - loss: 1.2891 - accuracy: 0.5853
Epoch 10/10
1563/1563 [==============================] - 6s 4ms/step - loss: 1.2098 - accuracy: 0.6036

In [ ]:
model.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_2 (InputLayer)        [(None, 32, 32, 3)]       0

 conv2d_3 (Conv2D)           (None, 28, 28, 16)        1216

 max_pooling2d_3 (MaxPooling  (None, 14, 14, 16)       0
 2D)

 flatten_1 (Flatten)         (None, 3136)              0

 dense_3 (Dense)             (None, 120)               376440

 dense_4 (Dense)             (None, 84)                10164

 dense_5 (Dense)             (None, 10)                850

=================================================================
Total params: 388,670
Trainable params: 388,670
Non-trainable params: 0
_________________________________________________________________